.w
  if image
    if image.ratio
      a(href='#', target='_blank', class='img', style='padding-bottom:#{image.ratio}%')
        img(class='lazy', src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7', data-original='#{image.url_archived_small}', width='100%')
    else
      a(href='#', target='_blank', class='img', style='padding-bottom:50%')
        img(class='lazy', src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7', data-original='#{image.url_original}', width='100%')

  .content
    h3 #{title}
    if description
      p #{description}

    if source.type == 'TwitterUser'
      //- .posted-date #{published_ago} by&nbsp;
      //-   a(href="/search/from/@#{source.screen_name}", data-navigate) #{source.full_name}
      a.box.author(href='#')
        img(src=source.profile_image_url)
        div
          strong #{source.full_name}
          span #{published_ago}

    else
      .posted-date Posted #{published_ago}
      if url_host
        a.source-url(href=url, target="_blank") #{url_host}