.window.white
  ul.steps
    li
      h5 1
      span Get started
    li.current
      h5 2
      span Connect
    li
      h5 3
      span Discover
    li
      h5 4
      span Enjoy

  //.connect-logo

  h1 Connect your accounts

  p.centered You can truly enjoy the magic of Paperboard by connecting one or more services to your account.

  .connect-services

    if accounts.twitter.length > 0
      for account in accounts.twitter
        .account.type-twitter
          img(src=account.avatar)
          h3
            | #{account.full_name}
            span #{account.screen_name}
            i Following #{account.following.count} people

    a(href='#', class='twitter')
      if accounts.twitter.length > 0
        h3 Add one more Twitter account
      else
        h3 Connect Twitter account

    if accounts.twitter.length == 0
      p We'll create a board with all the articles posted by people you follow on Twitter. Pure magic!

    hr

    if accounts.instagram.length > 0
      for account in accounts.instagram
        .account.type-instagram
          img(src=account.avatar)
          h3
            | #{account.full_name}
            span #{account.screen_name}
            i Following #{account.following.count} people

    a(href='#', class='instagram')
      if accounts.instagram.length > 0
        h3 Add one more Instagram account
      else
        h3 Connect Instagram account

    if accounts.instagram.length == 0
      p You'll get a board with all the pics posted by people you follow on Instagram. You'll love that!

  hr

  if accounts.twitter.length || accounts.instagram.length
    a(class='btn btn-skip confirm-alt', href='#', title='Continue') Continue to Discover &rarr;
  else
    a(class='cnt btn-skip', href='#', title='Continue') Skip