.window.white
  ul.steps
    li
      h5 1
      span Get started
    li.current
      h5 2
      span Connect
    li
      h5 3
      span Discover
    li
      h5 4
      span Enjoy

  //h1 Connect your accounts

  p You can truly enjoy the magic of Paperboard by connecting one or more services to your account. Don't worry, we won't post anything without your explicit permission!

  .connect-services

    hr

    .head.twitter

    if accounts.twitter.length > 0
      for account in accounts.twitter
        .account.type-twitter
          img(src=account.avatar)
          h3
            | #{account.full_name}
            span #{account.screen_name}
            i Following #{account.following.count} people

    if accounts.twitter.length <= 3
      a(href='#', class='twitter')
        if accounts.twitter.length > 0
          h3 Add one more Twitter account
        else
          h3 Connect Twitter account

    if accounts.twitter.length == 0
      p We'll create a board with all the articles posted by people you follow on Twitter. Pure magic!

    hr

    .head.instagram

    if accounts.instagram.length > 0
      for account in accounts.instagram
        .account.type-instagram
          img(src=account.avatar)
          h3
            | #{account.full_name}
            span #{account.screen_name}
            i Following #{account.following.count} people

    a(href='#', class='instagram')
      if accounts.instagram.length > 0
        h3 Add one more Instagram account
      else
        h3 Connect Instagram account

    if accounts.instagram.length == 0
      p You'll get a board with all the pics posted by people you follow on Instagram. You'll love that!

    hr

    .head.feedly

    if accounts.feedly.length > 0
      for account in accounts.feedly
        .account.type-feedly
          img(src=account.avatar)
          h3 #{account.full_name}
            i Successfully connected

    a(href='#', class='feedly')
      if accounts.feedly.length > 0
        h3 Add one more Feedly account
      else
        h3 Connect Feedly account

    if accounts.feedly.length == 0
      p We'll import your categories and feeds into beautiful, organised boards.

  hr

  if accounts.twitter.length || accounts.instagram.length || accounts.feedly.length
    a(class='btn btn-skip confirm-alt', href='#', title='Continue') Continue &rarr;
  else
    p.cnt
      a(class='btn-skip', href='#', title='Continue') Skip